<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sla_db</property>
<property name="hibernate.connection.username">root</property>
<property name="hibernate.connection.password">root</property>
<property name="hibernate.connection.pool_size">10</property>
<property name="show_sql">true</property>
<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
 <property name="hbm2ddl.auto">update</property>
 <mapping class="sla.bean.CustomerMaster" />
  <mapping class="sla.bean.Login" />
 <mapping class="sla.bean.EmployeeMaster" />
 <mapping class="sla.bean.ModelMaster" />
 <mapping class="sla.bean.ProductMaster" />
 <mapping class="sla.bean.ComplaintLog" />
  <mapping class="sla.bean.SpareMaster" />
  <mapping class="sla.bean.SpareRequire" />
  <mapping class="sla.bean.AddSpare" />
   <mapping class="sla.bean.LocationMaster" />
      <mapping class="sla.bean.UnitMaster" />
       <mapping class="sla.bean.WarrantyTracking" />
</session-factory>
</hibernate-configuration>